<h1>New Car</h1>
<%= form_with scope: :car, local: true, html: { multipart: true }, url: cars_path do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
  <%= form.file_field :image %>
  </p>
  <%= form.submit %>
<% end %>
<%= link_to 'Back', cars_path %>
